body[lang="en"] [lang="es"],
body[lang="es"] [lang="en"] {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    background-color: rgb(255, 255, 255);
}


/* LANGUAGE SELECTOR PIOLA */

select {
    width: 6vw;
    height: 6vh;
    position: absolute;
    right: 20%;
    top: 7%;
    border: none;
    font-size: 1rem;
}


/* PRELOADER */

.loguito {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 450px;
    width: 450px;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background-size: cover;
    background-image: url(./img/pic10.webp);
    animation: anim1 5s;
}

@keyframes anim1 {
    0% {
        background-image: url(./img/pic1.webp);
    }
    10% {
        background-image: url(./img/pic2.webp);
    }
    20% {
        background-image: url(./img/pic3.webp);
    }
    30% {
        background-image: url(./img/pic4.webp);
    }
    40% {
        background-image: url(./img/pic5.webp);
    }
    50% {
        background-image: url(./img/pic6.webp);
    }
    60% {
        background-image: url(./img/pic7.webp);
    }
    70% {
        background-image: url(./img/pic8.webp);
    }
    80% {
        background-image: url(./img/pic9.webp);
    }
    90% {
        background-image: url(./img/pic10.webp);
    }
    100% {
        background-image: url(./img/pic10.webp);
    }
}

.preloader {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    color: #fff;
    background-color: #fff59e;
    font-family: Consolas, Menlo, Monaco, monospace;
    font-weight: bold;
    font-size: 30vh;
    z-index: 1099;
}

.preloader span {
    display: inline-block;
    opacity: 0.8;
    font-size: 30px;
}

.preloader span:nth-child(odd) {
    animation-delay: 0.4s;
    z-index: 1100;
}

.preloader p {
    font-size: 15px;
}

.preloader.hidden {
    animation: fadeOut 8s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}


/* END OF PRELOADER */

header {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    box-shadow: 0px 39px 20px -47px rgba(166, 166, 166, 0.75);
    -webkit-box-shadow: 0px 39px 20px -47px rgba(166, 166, 166, 0.75);
    -moz-box-shadow: 0px 39px 20px -47px rgba(166, 166, 166, 0.75);
    margin-bottom: 30px;
    align-items: center;
}

.titulo {
    display: flex;
    flex-wrap: wrap;
}

mark {
    background-color: #fff5be;
}

h1 {
    padding: 10px 0 0 35px;
    font-size: 2.5em;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    padding: 30px 20px 20px 20px;
    font-size: 1.5em;
    color: rgb(121, 121, 121);
    font-family: 'Lato', sans-serif;
}

.blocks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

.componente {
    width: 60%;
    height: 100px;
    margin: 0;
    animation: return 0.5s 0s;
}

.componente p {
    font-size: 25px;
    font-family: 'Lato', sans-serif;
    padding: 10px;
    margin-left: 10px;
    color: white;
    font-weight: 600;
    z-index: 100;
}

.componente:hover {
    animation: move 0.5s 0.1s;
    animation-fill-mode: forwards;
}

@keyframes move {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(5%);
    }
}

@keyframes return {
    from {
        transform: translateX(5%);
    }
    to {
        transform: translateX(0%);
    }
}

.design {
    position: relative;
}

.behinddevelopment {
    position: absolute;
    background-color: #fff5be;
    z-index: -10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    width: 60%;
    height: 100px;
    margin: 20px;
}

a {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.spdesign {
    font-size: 22px;
    font-weight: 400;
}

.design::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./img/bgHTML1.jpg);
    background-size: cover;
    background-clip: border-box;
    background-position: 150px 250px;
    filter: brightness(0.3);
}

.development {
    position: relative;
}

.development::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./img/bgjs.webp);
    background-size: cover;
    background-clip: border-box;
    background-position: 150px 250px;
    filter: brightness(0.3);
}

.ux {
    position: relative;
}

.ux::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./img/bgUX.jpg);
    background-size: cover;
    background-clip: border-box;
    background-position: 5%;
    filter: brightness(0.3);
}


/* DESPLEGABLE */


/* ANIMACION */

.slide {
    max-height: 0;
    overflow-y: hidden;
    -webkit-transition: max-height 0.5s ease-in-out;
    -moz-transition: max-height 0.5s ease-in-out;
    -o-transition: max-height 0.5s ease-in-out;
    transition: max-height 1s ease-in-out;
}

.slide-active {
    max-height: 50rem;
}


/* FIN ANIMACION */

.projects {
    width: 60%;
    display: flex;
    flex-direction: row;
    background-color: #fff5be;
    position: relative;
    margin-bottom: 3%;
}

.card_uno,
.card_dos,
.card_tres {
    display: flex;
    flex-direction: column;
    height: 500px;
    margin-left: 5%;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 10px 10px 0px -7px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 0px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 0px -7px rgba(0, 0, 0, 0.75);
}

.ctacontainer {
    margin-top: 2em;
    margin-bottom: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.cta {
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 12vw;
    height: 4vh;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    background-color: #fff5be;
    box-shadow: 0px 5px 7px -3px rgba(169, 169, 169, 0.75);
    -webkit-box-shadow: 0px 5px 7px -3px rgba(169, 169, 169, 0.75);
    -moz-box-shadow: 0px 5px 7px -3px rgba(169, 169, 169, 0.75);
    color: black;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    vertical-align: middle;
}

.cta:hover {
    background-color: #ffffff;
    box-shadow: 0px 5px 7px -3px rgba(97, 97, 97, 0.75);
    -webkit-box-shadow: 0px 5px 7px -3px rgba(169, 169, 169, 0.75);
    -moz-box-shadow: 0px 5px 7px -3px rgba(117, 117, 117, 0.75);
}

.card_uno h2 {
    margin: 0;
    padding: 15px 0 0 15px;
    padding-left: 15.5%;
    color: rgb(121, 121, 121);
}

.card_dos h2 {
    margin: 0;
    padding: 15px 0 0 15px;
    padding-left: 15.5%;
    color: rgb(121, 121, 121);
}

.card_tres h2 {
    margin: 0;
    padding: 15px 0 0 15px;
    padding-left: 15.5%;
    color: rgb(121, 121, 121);
}

.subcard {
    font-family: 'Montserrat', sans-serif;
    width: 70%;
    font-size: 0.9rem;
    padding: 0 0 0 16%;
    text-align: left;
}

.slider img {
    max-width: 80%;
    max-height: 100%;
    object-fit: contain;
    padding-left: 20%;
}

.slider {
    max-width: 80%;
    max-height: 50%;
}

.olcard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    align-items: left;
    padding: 0 0 10% 19%;
    font-size: 1rem;
    font-weight: 400;
}

footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

footer p {
    padding: 0px;
    font-family: 'Lato', sans-serif;
    color: rgb(109, 109, 109);
}

@media only screen and (min-width: 319px) and (max-width: 419px) {
    .titulo h1 {
        margin-left: -10px;
        font-size: 1.5rem;
    }
    .titulo h2 {
        font-size: 1rem;
        margin: 0;
        padding: 0 10px 20px 25px;
    }
    #selection {
        position: relative;
        width: 30%;
        margin-top: 20px;
        margin-left: 100px;
    }
    .loguito {
        height: 350px;
        width: 350px;
    }
    .componente {
        width: 90%;
        height: 75px;
        margin: 7.5px;
    }
    .componente p {
        font-size: 15px;
        font-family: 'Lato', sans-serif;
        padding: 10px;
        margin-left: 10px;
        color: white;
        font-weight: 600;
        z-index: 100;
    }
    .projects {
        height: auto;
        width: 90%;
    }
    #contenido {
        width: 100%;
    }
    .subcard {
        color: black;
        width: 85%;
        padding-left: 10%;
        font-size: 12px;
        line-height: 18px;
    }
    li {
        font-size: 12px;
    }
    .card_uno {
        width: 100%;
        height: 50%;
    }
    .card_uno h2,
    .card_dos h2,
    .card_tres h2 {
        padding-left: 10%;
        font-size: 1.1rem;
    }
    .slider {
        height: 100%;
        max-height: 100%;
    }
    .spdesign {
        font-size: 1rem;
    }
    .cta {
        width: auto;
        font-size: 15px;
    }
    footer p {
        padding: 0;
        width: 70%;
        text-align: center;
    }
}

@media only screen and (min-width: 420px) and (max-width: 480px) {
    .titulo h1 {
        display: block;
        width: 100%;
        position: relative;
        margin-left: -10px;
        font-size: 1.5rem;
    }
    .titulo h2 {
        font-size: 1rem;
        margin: 0;
        padding: 0 10px 20px 25px;
    }
    #selection {
        position: relative;
        width: 30%;
        margin-top: 20px;
        margin-left: 100px;
    }
    .loguito {
        height: 350px;
        width: 350px;
    }
    .componente {
        width: 90%;
        height: 75px;
        margin: 7.5px;
    }
    .componente p {
        font-size: 15px;
        font-family: 'Lato', sans-serif;
        padding: 10px;
        margin-left: 10px;
        color: white;
        font-weight: 600;
        z-index: 100;
    }
    .projects {
        height: auto;
        width: 90%;
    }
    #contenido {
        width: 100%;
    }
    .subcard {
        color: black;
        width: 85%;
        padding-left: 10%;
        font-size: 12px;
        line-height: 18px;
    }
    li {
        font-size: 12px;
    }
    .card_uno {
        width: 100%;
        height: 50%;
    }
    .card_uno h2,
    .card_dos h2,
    .card_tres h2 {
        padding-left: 10%;
        font-size: 1.1rem;
    }
    .slider {
        height: 100%;
        max-height: 100%;
    }
    .spdesign {
        font-size: 1rem;
    }
    .cta {
        width: auto;
        font-size: 15px;
    }
    footer p {
        padding: 0;
        width: 70%;
        text-align: center;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .titulo h1 {
        width: 100%;
        margin-left: -10px;
        font-size: 1.5rem;
    }
    .titulo h2 {
        font-size: 1rem;
        margin: 0;
        padding: 0 10px 20px 25px;
    }
    #selection {
        position: relative;
        width: 30%;
        margin-top: 20px;
        margin-left: 25%;
    }
    .loguito {
        height: 350px;
        width: 350px;
    }
    .componente {
        width: 90%;
        height: 75px;
        margin: 7.5px;
    }
    .componente p {
        font-size: 15px;
        font-family: 'Lato', sans-serif;
        padding: 10px;
        margin-left: 10px;
        color: white;
        font-weight: 600;
        z-index: 100;
    }
    .projects {
        height: auto;
        width: 90%;
    }
    #contenido {
        width: 100%;
    }
    .subcard {
        color: black;
        width: 85%;
        padding-left: 10%;
        font-size: 12px;
        line-height: 18px;
    }
    li {
        font-size: 12px;
    }
    .card_uno {
        width: 100%;
        height: 50%;
    }
    .card_uno h2,
    .card_dos h2,
    .card_tres h2 {
        padding-left: 10%;
        font-size: 1.1rem;
    }
    .slider {
        height: 100%;
        max-height: 100%;
    }
    .spdesign {
        font-size: 1rem;
    }
    .cta {
        width: auto;
        font-size: 15px;
    }
    footer p {
        padding: 0;
        width: 70%;
        text-align: center;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1023px) {}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
    .titulo h1 {
        width: 100%;
        margin-left: -10px;
        font-size: 1.5rem;
    }
    .titulo h2 {
        font-size: 1rem;
        margin: 0;
        padding: 0 10px 20px 25px;
    }
    #selection {
        position: relative;
        width: 30%;
        margin-top: 20px;
        margin-left: 25%;
    }
    .loguito {
        height: 350px;
        width: 350px;
    }
    .componente {
        width: 90%;
        height: 75px;
        margin: 7.5px;
    }
    .componente p {
        font-size: 15px;
        font-family: 'Lato', sans-serif;
        padding: 10px;
        margin-left: 10px;
        color: white;
        font-weight: 600;
        z-index: 100;
    }
    .projects {
        height: auto;
        width: 90%;
    }
    #contenido {
        width: 100%;
    }
    .subcard {
        color: black;
        width: 85%;
        padding-left: 10%;
        font-size: 12px;
        line-height: 18px;
    }
    li {
        font-size: 12px;
    }
    .card_uno {
        width: 100%;
        height: 50%;
    }
    .card_uno h2,
    .card_dos h2,
    .card_tres h2 {
        padding-left: 10%;
        font-size: 1.1rem;
    }
    .slider {
        height: 100%;
        max-height: 100%;
    }
    .spdesign {
        font-size: 1rem;
    }
    .cta {
        width: auto;
        font-size: 15px;
    }
    footer p {
        padding: 0;
        width: 70%;
        text-align: center;
    }
}


}
@media only screen and (min-width: 1280px) and (max-width: 1441px) {}